//reset
*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
 }

html, body {
   width: 100%;
   height: 100%;
}

header, footer{ height: 10vh; }
body{ background: #87CEFA; }

h1{ font-family: 'Permanent Marker', cursive; }
h2{ font-family: 'Lobster', cursive; }

.dataBase{
  width: 60px;
  height: 60px;
  border: 3px solid #000;
  border-radius: 50%;
  background: #00ff00;
  color: #0066ff;
  font-weight: bold;
  font-family: 'Courgette', cursive;
  animation: anim 1s linear infinite;
}

@keyframes anim{
  0%{
    border-top-color: #000;
    border-right-color: #00ff00;
    border-bottom-color: #00ff00;
    border-left-color: #00ff00;
  }
  
  25%{
    border-top-color: #00ff00;
    border-right-color: #000;
    border-bottom-color: #00ff00;
    border-left-color: #00ff00;
  }
  
  50%{
    border-top-color: #00ff00;
    border-right-color: #00ff00;
    border-bottom-color: #000;
    border-left-color: #00ff00;
  }
  100%{ 
    border-top-color: #00ff00;
    border-right-color: #00ff00;
    border-bottom-color: #00ff00;
    border-left-color: #000;
  }
}
.overflow{
	overflow: auto;
	height: 100vh;
}

.start{
  width: 60px;
  height: 60px;
  border: 3px solid #000;
  border-radius: 50%;
  background: #196F3D;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  font-family: 'Courgette', cursive;
  animation: start 1.5s linear infinite;
}

@keyframes start{
  0%{ background: #196F3D; }  
  50%{ background: #7DCEA0; }  
  100%{ background: #196F3D;}
}

.blackBorder{ border: 2px solid black; }
.bold{ font-weight: bold; }
.italic{ font-style: italic; }

@media screen and (min-width: 320px) {
  .mainContainer{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }  

  #info, #warning, #task, #rects > p{
    text-align: center;
    font-weight: bold;
    font-family: 'Courgette', cursive;
  }

  h1, h2{
    width: 100%;
    text-align: center;
  }

  h1{
    font-size: 2.5em;
    color: red;
    -webkit-text-stroke: 2px #000;
  }

  #rects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .one{
    background: #e00707;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    position: relative;
    top: 55px;
    left: 5px;
    z-index: 1;
   animation: rotateRight 5s infinite;
  }
      
  .two{
    background: #ffcc66;
    border: 2px solid black;
    width: 150px;
    height: 150px;
    position: relative;
    top: -117.5px;
    left: 82.5px;
    z-index: 2;
   animation: rotateLeft 5s infinite;
  }
  
  @keyframes rotateLeft{
    0%{transform: rotate(0deg);}
    100%{ transform: rotate(-360deg); }
  }
  
  .three{
    background: #ade007;
    border: 2px solid black;
    width: 100px;
    height:100px;
    position: relative;
    top: -112.5px;
    left: -40px;
    z-index: 3;
    animation: rotateRight 5s infinite;
  }
  
  @keyframes rotateRight{
    0%{transform: rotate(0deg);}
    100%{ transform: rotate(360deg); }
  }
  
  .four{
    background: #990099;
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    top: -110px;
    left: -115px;
    z-index: 4;
   animation: pulse 1s infinite;
  }  
  
  @keyframes pulse{
    0%{}
    50%{ background: #ff66ff; }
    100%{ background: #990099; }
  }
}




 